In [19]:
# DataFrame merging
from pandas import DataFrame
import pandas as pd

data1 = {
    'Id' : [1,2,3],
    'Name' : ['John','Chee','Vinod'],
    'Sex' : ['M','F','M']
}

data2 = {
    'Id' :[1,2,3],
    'Location' : ['USA','Malaysia','India']
}


df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

df3 = df1.merge(df2, on='Id', how='inner')
print(df3)

# ---- merge with diff colms------------------
print("\n")

data3 = {
    'ID' : [1,2,3],
    'Married' : ['N','Y','Y'],

}
df4 = pd.DataFrame(data3)

df5= df4.merge(df3, left_on='ID', right_on='Id', how='inner')
print(df5)

print("\n")

df5 = df5.drop(['ID'], axis=1)

print(df5)

   Id   Name Sex  Location
0   1   John   M       USA
1   2   Chee   F  Malaysia
2   3  Vinod   M     India


   ID Married  Id   Name Sex  Location
0   1       N   1   John   M       USA
1   2       Y   2   Chee   F  Malaysia
2   3       Y   3  Vinod   M     India


  Married  Id   Name Sex  Location
0       N   1   John   M       USA
1       Y   2   Chee   F  Malaysia
2       Y   3  Vinod   M     India